In [3]:
import pandas as pd

# Task 1: Creating the dataframes
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Convert dictionaries to dataframes
employee_df = pd.DataFrame(employee_data)
seniority_df = pd.DataFrame(seniority_data)
project_df = pd.DataFrame(project_data)

# Save as CSV files
employee_df.to_csv('employee.csv', index=False)
seniority_df.to_csv('seniority.csv', index=False)
project_df.to_csv('project.csv', index=False)

# Output success message
print("Task 1 completed: Dataframes created and saved as CSV files.")

Task 1 completed: Dataframes created and saved as CSV files.

In [5]:
# Task 2: Handle missing values in the "Cost" column using a running average with a for loop
def fill_missing_with_running_average(df, column):
    values = df[column].tolist()
    for i in range(len(values)):
        if values[i] is None:
            left = values[i - 1] if i > 0 else 0
            right = values[i + 1] if i < len(values) - 1 else 0
            count = (1 if i > 0 else 0) + (1 if i < len(values) - 1 else 0)
            values[i] = (left + right) / count if count > 0 else 0
    df[column] = values

fill_missing_with_running_average(project_df, 'Cost')

# Output success message
print("Task 2 completed: Missing values replaced using running average with a for loop.")

Task 2 completed: Missing values replaced using running average with a for loop.

In [7]:
# Task 3: Split the "Name" column into "First Name" and "Last Name" and drop the original "Name" column
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(expand=True, n=1)
employee_df.drop(columns=['Name'], inplace=True)

# Output success message
print("Task 3 completed: Name column split into First Name and Last Name.")

Task 3 completed: Name column split into First Name and Last Name.

In [9]:
# Task 4: Join all three dataframes into one single dataframe named "Final"
final_df = employee_df.merge(seniority_df, on='ID').merge(project_df, on='ID')

# Output success message
print("Task 4 completed: All dataframes merged into a single dataframe named 'Final'.")

Task 4 completed: All dataframes merged into a single dataframe named 'Final'.

In [11]:
# Task 5: Add a new bonus column in the Final dataframe
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Output success message
print("Task 5 completed: Bonus column added to the Final dataframe.")

Task 5 completed: Bonus column added to the Final dataframe.

In [13]:
# Task 6: Demote the designation level for employees with "Failed" projects
failed_projects = project_df[project_df['Status'] == 'Failed']
failed_ids = failed_projects['ID'].unique()

# Demote designation level by 1 for those employees
final_df.loc[final_df['ID'].isin(failed_ids), 'Designation Level'] -= 1

# Task 6b: Remove employees whose designation level is above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Output success message
print("Task 6 completed: Demoted designation level for employees with failed projects and deleted employees with designation level above 4.")

Task 6 completed: Demoted designation level for employees with failed projects and deleted employees with designation level above 4.

In [15]:
# Task 7: Add "Mr." and "Mrs." to the first name column based on the gender column
final_df['First Name'] = final_df.apply(
    lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1
)

# Drop the Gender column
final_df.drop(columns=['Gender'], inplace=True)

# Output success message
print("Task 7 completed: Added 'Mr.' and 'Mrs.' to the First Name column and dropped the Gender column.")

Task 7 completed: Added 'Mr.' and 'Mrs.' to the First Name column and dropped the Gender column.

In [17]:
# Task 8: Promote designation level by 1 for employees whose age is greater than 29
final_df['Designation Level'] = final_df.apply(
    lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else row['Designation Level'], axis=1
)

# Output success message
print("Task 8 completed: Promoted designation level by 1 for employees whose age is more than 29 years.")

Task 8 completed: Promoted designation level by 1 for employees whose age is more than 29 years.

In [19]:
# Task 9: Calculate the total cost of all projects for each employee
total_proj_cost = project_df.groupby('ID')['Cost'].sum().reset_index()

# Merge the total project costs with employee first names
total_proj_cost = total_proj_cost.merge(employee_df[['ID', 'First Name']], on='ID', how='left')

# Rename columns for clarity
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Output success message
print("Task 9 completed: Created TotalProjCost dataframe with ID, First Name, and Total Cost.")

Task 9 completed: Created TotalProjCost dataframe with ID, First Name, and Total Cost.

In [21]:
# Task 10: Filter employees whose city contains the letter "o"
filtered_employees = employee_df[employee_df['City'].str.contains('o', case=False)]

# Print the filtered employee details
print("Employee details whose city contains the letter 'o':")
print(filtered_employees)

Employee details whose city contains the letter 'o':
     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra